.container {
    padding-top:0.5em;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.current-player caption {
  color:red;
}

.tab-content {
  padding:1ex;
}

.tab-content table {
  margin-left: auto;
  margin-right: auto;
  margin-top:1em;
}

table input[type=number]{
    width:40px;
    padding:0;
}

.lap-list {
font-size:0.9em;
font-style:italic;
color:#47A447;
}
.lap-list li {
list-style-type:none;
}

.counter-value{
    width:100px;
}

caption input {
    text-align: center;
    margin-bottom:2ex;
}

.overlap-time, .lap-list{
    text-align:center;
    font-style:italic;
    font-size:0.8em;
    color:red;
    padding-top:2ex;
}

.counter-name {
   border:none;
   background:none;
   margin-left:1ex;
}

.counter-action-button, .counter-delete-button {
  padding-left:1ex;
  padding-right:1ex;
}

.row-lg {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.row-lg [class*="col-lg"],
.row-lg [class*="col-md"],
.row-lg [class*="col-sm"] {
  float: none;
  display: inline-block;
}

.player {
  padding: 0;
  margin: 0;
}

.player .counter-name {
  width: 100%;
}

.player .score {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  display: block;
}

footer {
    margin-top:1em;
}

input:focus{
  border-color: #66afe9;outline:0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),
                      0 0 8px rgba(102,175,233,.6);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
}

/* Remove pin buttons on input tags with type="number" in chrome and ff */
input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


/* Medium devices (big tablets, 992px; and up) */
@media (max-width: 992px) {
  .nav-tabs li a {
    margin:0;
    padding:1ex;
  }
}

@media (min-width: 992px) {
  /* Zoom */
  .tab-content tr {
     transform: scale(1.3);
  }
}
